.contact-container{
    height: 100%;
    width: 100%;
    padding-bottom: 320px;
    background-image: url(../Assets/CirclePhoto.png);
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: 50vw;
}

.contact-title{
    width: 95%;
    font-size: 4vw;
    color:  rgb(255, 253, 249);
    float: left;
    margin-top: 60px;
    text-decoration: underline rgb(14, 161, 240);
    font-family: 'Merriweather', serif;
    padding-left: 3vw;
}

.contact-info{
    font-family: 'Merriweather', serif;
    color:  rgb(255, 253, 249);
    padding-left: 3vw;
}

.other{
    text-decoration: underline rgb(14, 161, 240);
    font-size: 2vw;
    padding-top: 4vw;
}

.contact-info ul{
    font-size: 1.5vw;
    line-height: 2vw;
}

.contact-info ul p a:hover{
    color: rgb(14, 161, 240);
}

@media (max-width: 800px){
    .contact-container{
        padding-bottom: 370px;
        background-size: 50vh;
        background-position: center;
    }

    .contact-title{
        font-size: 5vw;
    }

    .contact-info ul{
        font-size: 3vw;
        line-height: 3.5vw;
    }
}

@media (max-width: 600px){
    .contact-container{
        padding-bottom: 500px;
        background-size: 38vh;
        background-position: center;
    }
}